/* here you can put your own css to customize and override the theme */

/***
Rounded Portlets
***/
/*
.portlet {
	border-radius: 4px !important;
}

.portlet .portlet-title {
	border-radius: 4px 4px 0px 0px !important;
}

.portlet .portlet-body,
.portlet .portlet-body .form-actions  {
	border-radius: 0px 0px 4px 4px !important;
}
*/
.media-search
{
	height:550px;
	overflow-y: scroll;
	margin-right:-10px 
}
h4 span label
{
	font-weight: 600;
	padding-right: 10px;
}
.theme-panel > .theme-options > .theme-option > input.form-control
{
	display: inline;
    width: 220px;;
}
.menu-toggler{
}
.total-num
{
	margin-left: 30px
}
@media (max-width: 991px) and (min-width: 768px){
	.menu-toggler
	{
		visibility: visible;
	}
	.page-header-inner
	{
		background: #F2CE00;
	}
}
@media (max-width: 991px) {
	.menu-toggler
	{
		visibility: visible;
	}
	.page-header-inner
	{
		background: #F2CE00;
	}
}
@media (max-width:768px){
		.page-logo
	{
		text-align: center;
		margin-left: 35%;
	}
}
.btn.btn-fit-height.grey-salt.dropdown-toggle , .btn-group.pull-right .btn.btn-fit-height.grey-salt
{
	background: #136900;
}
.page-sidebar-closed .page-header .page-header-inner .page-logo .logo
{
	content: url(../../../../../images/shrinked-logo.png);
	width: 40px;
	height: 50px;
	text-align: center;
	margin-left: 20%;
	margin-top: 10%;
}
.no-slide
{
	overflow-x: hidden;
}
#map
{
	display: block;
}